<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../css/calculator.css">

<!-- <meta charset="utf-8">
<title> Calculator</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="calculator with addition and multiplication">
<meta name="author" content="Asterie">
<meta name="Keywords" content="calculator, calculator,
 free calculator, calculator app, calculator"> -->

 <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129340722-1"></script> -->


</head>
<body>


 <!-- Navigation -->
    <!-- <nav class="navbar navbar-expand-lg navbar-dark static-top">
      <div class="school">
        <a class="navbar-brand" href="#">calculator api</a>
        <button class="navbar-student" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <!-- <div class="student navbar-student" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#projects">Projects</a>
 
            </li>
          </ul>
        </div> -->
      <!-- </div>
    </nav> -->


    
<div class="school">

<div class="row justify-content-center p-5">

<!-- <div class="card " style= "width: 22rem;">

<div class="card-body bg-transparent"> <-->
	<span class="border p-5">
<form name="calculator">
	<div class="text-center pb-3">
	<input type="text" name="result">
   </div>
 
	 <div class="row p-1" >
		<div class="col-3">
			<input type="button" value=" C " onclick="calculator.result.value = '' ">
		</div> 

		 <div class="col-3">
			<input type="button" value=" 0 " onclick="calculator.result.value += ' 0 ' ">
		</div>
		
		<div class="col-3">
			<input type="button" value=" = " onclick="calculator.result.value =  eval(calculator.result.value.replace(/\s/g, ''))">
		</div>

	</div>  

	<div class="row p-1">
		<div class="col-3">
			<input type="button" value=" 1 " onclick="calculator.result.value += ' 1 ' ">
		</div>

		<div class="col-3">
			<input type="button" value=" 2 " onclick="calculator.result.value += ' 2 ' ">	
		</div>

		<div class="col-3">
			<input type="button" value=" 3 " onclick="calculator.result.value += ' 3 ' ">	
		</div>

		

	</div>

	 <div class="row p-1">
		<div class="col-3">
			<input type="button" value=" 4 " onclick="calculator.result.value += ' 4 ' ">
		</div>

		<div class="col-3">
			<input type="button" value=" 5 " onclick="calculator.result.value += ' 5 ' ">		
		</div>

		<div class="col-3">
			<input type="button" value=" 6 " onclick="calculator.result.value += ' 6 ' ">	
        </div>
		<div class="col-3">
			<input type="button" value=" * " onclick="calculator.result.value += ' * ' ">
			</div>
	</div> 

	<div class="row p-1">
		<div class="col-3">
			<input type="button" value=" 7 " onclick="calculator.result.value += ' 7 ' ">
		</div>

		<div class="col-3">
			<input type="button" value=" 8 " onclick="calculator.result.value += ' 8 ' ">	
		</div>

	<div class="col-3">
		<input type="button" value=" 9 " onclick="calculator.result.value += ' 9 ' ">	
	</div>

	<div class="col-3">
		<input type="button" value=" + " onclick="calculator.result.value += ' + ' ">
	</div>

	</div> 	


</form>
</span>


</div> 
</div>

</body>
</html>



